{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Image Display</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1></h1>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
  <h1>The Memes are :</h1>
  <p>This part is inside a <mark>.container class.</mark></p>
  <p>The .container class provides a responsive fixed width
    A fixed-width layout may create excessive white space for users with larger screen resolutions, thus upsetting “divine proportion,” the “Rule of Thirds,” overall balance and other design principles.
    Smaller screen resolutions may require a horizontal scroll bar, depending the fixed layout’s width.
    Seamless textures, patterns and image continuation are needed to accommodate those with larger resolutions.
    Fixed-width layouts generally have a lower overall score when it comes to usability.
    container</p>

<p> This is a Image of Brahmi</p>
<p>
<img src="{% static "images/image3.jpg"%}" alt = "Brahmi Image" width ="400" />
</p>
</div>

        <div class="col-sm-12">
  <h1>The Memes are :</h1>
  <p>This part is inside a .container class.</p>
  <p>The .container class provides a responsive fixed width
    A fixed-width layout may create excessive white space for users with larger screen resolutions, thus upsetting “divine proportion,” the “Rule of Thirds,” overall balance and other design principles.
    Smaller screen resolutions may require a horizontal scroll bar, depending the fixed layout’s width.
    Seamless textures, patterns and image continuation are needed to accommodate those with larger resolutions.
    Fixed-width layouts generally have a lower overall score when it comes to usability.
    container</p>

<p> This is a Image of Brahmi</p>
<p>
<img src="{% static "images/image4.jpg"%}" alt = "Brahmi Image" width="400" />
</p>
</div>

                <div class="col-sm-12">
  <h1>The Memes are :</h1>
  <p>This part is inside a <mark>.container class.</mark></p>
  <p>The .container class provides a responsive fixed width
    A fixed-width layout may create excessive white space for users with larger screen resolutions, thus upsetting “divine proportion,” the “Rule of Thirds,” overall balance and other design principles.
    Smaller screen resolutions may require a horizontal scroll bar, depending the fixed layout’s width.
    Seamless textures, patterns and image continuation are needed to accommodate those with larger resolutions.
    Fixed-width layouts generally have a lower overall score when it comes to usability.
    container</p>

<p> This is a Image of Brahmi</p>
<p>
<img src="{% static "images/image5.jpg"%}" alt = "Brahmi Image" width ="400" />
</p>
</div>
                <div class="col-sm-12">
  <h1>The Memes are :</h1>
  <p>This part is inside a <mark>.container class.</mark></p>
  <p>The .container class provides a responsive fixed width
    A fixed-width layout may create excessive white space for users with larger screen resolutions, thus upsetting “divine proportion,” the “Rule of Thirds,” overall balance and other design principles.
    Smaller screen resolutions may require a horizontal scroll bar, depending the fixed layout’s width.
    Seamless textures, patterns and image continuation are needed to accommodate those with larger resolutions.
    Fixed-width layouts generally have a lower overall score when it comes to usability.
    container</p>

<p> This is a Image of Brahmi</p>
<p>
<img src="{% static "images/image1.jpg"%}" alt = "Brahmi Image" width ="400" />
</p>
</div>
    </div>
    </div>
</body>
</html>



